@font-face {
  font-family: 'Pokemon';
  src: url('./assets/fonts/Pokemon Solid.ttf'),
  url('./assets/fonts/Pokemon Hollow.ttf')
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --grey11: #1C1C1C;
  --white: #FFF;
  --border: #FFCC03;
}